<% include Header.ejs %>
<div id="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Codificador</a>
      </li>
      <li class="breadcrumb-item active">Ingreso de Frases</li>
    </ol>

    <!-- Page Content -->
    <h1>Codificador Morse</h1>
    <hr>
    <div class="container">
      <div class="form-group">
        <div class="form-row">
          <h1>
            <p class="text-center">Ingreso de Datos</p>
          </h1>
        </div>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-label-group">
              <input type="text" id="Frase" class="form-control" placeholder="First name" required="required"
                autofocus="autofocus">
              <label for="Frase">Ingrese la frase a codificar:</label>
            </div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-label-group">
              <select class="form-control" autofocus="autofocus">
                <option value="T">Traducccion</option>
                <option value="A">Aprendizaje</option>
              </select>
            </div>
          </div>
        </div>
        <br>
        <div class="form-row">
          <div class="col-md-12">
            <div class="form-label-group">
              <button class="btn btn-success btn-block">Enviar</button>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="container-fluid">
      <div class="card mb-3">
        <div class="card-header">
          <i class="fas fa-table"></i>
          Frases Ingresadas
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Frase</th>
                  <th>Hora</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>ID</th>
                  <th>Frase</th>
                  <th>Hora</th>
                  <th>Estado</th>
                </tr>
              </tfoot>
              <tbody>
                <td>1</td>
                <td>Hola Mundo</td>
                <td>12:10 A.M</td>
                <td>Enviada</td>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright © Arquitectura de Computadores 2 2019</span>
        </div>
      </div>
    </footer>

  </div>
  <!-- /.content-wrapper -->
  <% include Footer.ejs %>