<% include Header.ejs %>
<div id="content-wrapper">

    <div class="container-fluid">

        <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/Coder">Codificador</a>
        </li>
        <li class="breadcrumb-item active">Page Not Found</li>
      </ol>
  

        <!-- Page Content -->
        <h1 class="display-1">404</h1>
        <p class="lead">Page not found. You can
            <a href="javascript:history.back()">go back</a>
            to the previous page</p>

    </div>
    <!-- /.container-fluid -->

    <!-- Sticky Footer -->
    <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Arquitectura de Computadores 2 2019</span>
          </div>
        </div>
      </footer>

</div>
<% include Footer.ejs %>